@import './base.css';
@import './fonts.css';

html, body, #app {
  min-width: 100vw;
  min-height: 100vh;
  overscroll-behavior: none;
}

#app {
  padding: 5rem 8.5rem 2.5rem 8.5rem;
  transition: padding 0.2s ease;
}

@media (max-width: 768px) {
  #app {
    padding-left: 5%;
    padding-right: 5%;
  }
}
